.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: blue;
  z-index: 10;
}



.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: crimson;
}